body {
  background-color: rgba(0, 0, 0, 0.86);
}

.container {
  text-align: left;
  margin: auto;
  padding: 40px;
  padding-top: 8px;
  width: 500px;
  height: auto;
  background: rgba(0, 255, 235, 0.02);
  border-left: 3px solid rgb(159, 109, 0);
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: #00dbff;
}

p {
  color: rgb(195, 195, 195);
  font-family: 'Nanum Gothic';
  font-weight: 400;
  font-size: 1.5em;
}
