body {
  background-color: white;
}

.container {
  background-color: #333;
  margin: auto;
  width: 50%;
  height: 80%;
}

h1 { 
  font-family: 'Martel', serif; 
  font-weight: 800; 
  font-size: 1.4em; 
  color: #008778;
}
