body {
    background-color: rgba(7, 66, 52, 0.86);
}

.logo {
  margin: auto;
  width: 330px;
  background: rgb(255, 0, 95);
  padding: 5px;
  border-radius: 10px;
}

.maincontainer {
  text-align: center;
  margin-top: 10px;
  margin: auto;
  padding: 5px;
  padding-bottom: 15px;
  width: auto;
  max-width: 340px;
  height: auto;
  border: 2px solid rgb(145, 0, 32);
  border-radius: 10px;
}

.container {
    text-align: left;
    margin: auto;
    padding-left: 35px;
    padding-top: 1px;
    padding-bottom: 10px;
    width: 500px;
    height: 95%;
    /* background: rgba(0, 255, 235, 0.02); */
    border-left: 4px solid rgb(0, 37, 52);
}

.topbar {
    text-align: left;
    margin: auto;
    padding: 17px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 35px;
    width: 483px;
    height: 5%;
    border-left: 4px solid rgb(0, 37, 52);
    /* background: rgba(0, 0, 0, 0.18); */
}

h1 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: 2.4em;
  color: #c4b700;
}

p {
    color: rgb(0, 33, 51);
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: 1.4em;
}

a {
    color: rgb(195, 195, 195);
    font-family: 'Courier';
    font-weight: 100;
    text-decoration: none;
    /* border-bottom: 3px solid rgb(128, 128, 128); */
    font-size: 2.0em;
}